.add-to-library-button {
  display: block;
  background-color: #2a2830;
  width: 192px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
  border: none;
  padding: 0;
}

.add-to-library-button span,
.add-to-library-button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.add-to-library-button span {
  width: 72%;
  line-height: inherit;
  font-size: 15px;
  left: 0;
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
  font-weight: 600;
}

.add-to-library-button span:after {
  content: '';
  background-color: #3a3840; /* Darker separator */
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}

.add-to-library-button .icon {
  width: 28%;
  right: 0;
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-library-button .icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.310, -0.105, 0.430, 1.400), height 0.25s ease;
}

.add-to-library-button .icon .check-icon {
  display: none;
}

.add-to-library-button.success,
.add-to-library-button:hover {
  background-color: #3a3840; /* Hover color */
}

.add-to-library-button.success span,
.add-to-library-button:hover span {
  left: -72%;
  opacity: 0;
}

.add-to-library-button.success .icon,
.add-to-library-button:hover .icon {
  width: 100%;
}

.add-to-library-button.success .icon svg,
.add-to-library-button:hover .icon svg {
  width: 28px;
  height: 28px;
}

.add-to-library-button.success {
  background-color: #27ae60;
}

.add-to-library-button.success .icon .plus-icon {
  display: none;
}

.add-to-library-button.success .icon .check-icon {
  display: inline-block;
}

.add-to-library-button:hover {
  opacity: 0.9;
}

.add-to-library-button:active {
  opacity: 1;
}
