.logout-trapdoor {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.logout-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 1;
}

.logout-door {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #18181c;
  overflow: hidden;
  z-index: 2;
  transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.2s;
}

.logout-door.top {
  top: 0;
  transform-origin: top;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logout-door.bottom {
  top: 50%;
  transform-origin: bottom;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.logout-door-inner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c1c1c3;
  transition: color 0.3s;
}

.logout-door.top .logout-door-inner {
  top: 0;
}

.logout-door.bottom .logout-door-inner {
  top: -100%; 
}

.logout-trapdoor:hover .logout-door.top {
  transform: translateY(-100%);
}

.logout-trapdoor:hover .logout-door.bottom {
  transform: translateY(100%);
}

.logout-trapdoor:hover .logout-door-inner {
  color: #fff;
}
